{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/stylistic"
  ],
  "plugins": ["@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2022
  },
  "rules": {
    "no-debugger": ["warn"],
    "no-cond-assign": ["error"],
    "no-empty": ["warn", { "allowEmptyCatch": true }],
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-use-before-define": ["error"],
    "default-case": ["error"],
    "default-case-last": ["error"],
    "no-empty-function": ["error"]
  }
}
